.wrap {
    display: flex;
    flex-direction: column;
    margin: 25px;
    margin-bottom: 50px;
    height: 40lvh;
    position: relative;
}
.block::after {
    content: ''; 
    position: absolute;
    bottom: 1; 
    left: 0; 
    right: 0; 
    height: 1px; 
    background-color: #2B2323; 
}

.block {
    margin-bottom: 15px;
    text-align: center;

}
.title {
    font-family: 'PT bold';
    font-size: 18px;
    margin-bottom: 30px;   
}
.titledoprow{
    font-size: 14px;
    height: 130px;
}
@media (min-width: 500px) and (max-width: 980px) {
   .wrap{
    align-items: flex-end;
   }
    .button, .buttonMore {
        width: 250px;
    } 
}

@media (min-width: 981px) {
     .button, .buttonMore {
        width: 250px;
    }
    .wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flexButtons {
        flex-direction: row;
        gap: 22px;
    }

    .title {
        font-size: 35px;
    }

    .titledoprow {
        position: relative;
        left: 0;
        font-size: 20px;
    }
}
