.wrap {
    display: flex;
    flex-direction: column;
    margin: 25px;
    margin-bottom: 25px;
    height: 300px;
    position: relative;
}
.block::after {
    content: ''; 
    position: absolute;
    bottom: 1; 
    left: 0; 
    right: 0; 
    height: 1px; 
    background-color: #2B2323; 
}
.block {
    margin-bottom: 15px;
 
}
.title {
    font-family: 'PT bold';
    font-size: 16px;
    margin-bottom: 30px;   
}
.titledoprow{
    font-size: 14px;
    height: 130px;
}
@media (min-width: 500px) and (max-width: 980px) {
    .wrap {
        height: 450px;
    }
    .block {
        margin: auto;
        width: 550px;
    }
    .flexButtons {
        flex-direction: row;
        gap: 22px;
    }
    .title {
        font-size: 30px;
    }
    .titledoprow {
        position: relative;
        left: 0;
        font-size: 20px;
    }
}

@media (min-width: 981px) {
    .wrap {
        height: 450px;
    }
    .block {
        margin: auto;
        width: 550px;
    }
    .flexButtons {
        flex-direction: row;
        gap: 22px;
    }
    .title {
        font-size: 30px;
    }
    .titledoprow {
        position: relative;
        left: 0;
        font-size: 20px;
    }
}
