@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loader {
    position: absolute;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
.button {
    color: #ffffff;
    width: 100%;
    font-size: 14px;
    line-height: 1.55;
    font-weight: 400;
    background-color: #ba9a7a;
    border-color: transparent;
    border-style: solid;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.title {
    margin-bottom: 10px;
}

.img {
    width: 250px;
    height: 100%;
}
.buttonNext {
    background-color: #eeeeee;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonNext:first-child {
    margin-left: 0;
    margin-right: 15px;
    transform: rotate(180deg);
}
.modal {

}
.wrap{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.strelka {
    width: 20px;
    height: 20px;
}
.buttonMore {
    padding: 10px;
    height: 60px;
    width: 100%;
    color: #ece7e4;
    font-size: 14px;
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
    margin-bottom: 15px;
    border-radius: 8px;
}
.buttonMore:hover {
    background-color: #ece7e4;
    color: black;
}
.disabled {
    opacity: 0.5;
    pointer-events: none;
}
.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img.hidden {
    display: none;
}

@media (min-width: 600px) and (max-width: 980px) {
    .img {
        width: 450px;
        height: 450px;
    }
    .buttonMore {
        width: 250px;
    }
}
@media (min-width: 981px) {
    .buttonMore {
        width: 250px;
    }
    .img {
        width: 450px;
        height: 450px;
    }
    .loader {
        width: 100px;
        height: 100px;
    }
}
