.wrap {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: url('@/shared/assets/img/bany.jpg') center / cover no-repeat;
    height: 300px;
    margin-bottom: 25px;
}

.button, .buttonMore {
    height: 60px;
    font-size: 14px;
    line-height: 1.55;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.button {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.55;
    font-weight: 400;
    background-color: #ba9a7a;
    border-color: transparent;
    border-style: solid;
    height: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.button:hover {
    opacity: 95%;
}

.buttonMore {
    padding: 10px;
    color: #ece7e4;
    font-weight: 600;
    border: 1px solid #ffffff;
    margin-bottom: 15px;
}

.buttonMore:hover {
    background-color: #ece7e4;
    color: black;
}

.block {
    font-weight: 700;
    padding: 15px 0 15px 15px;
    margin-bottom: 15px;
    color: #ece7e4;
}

.title {
    font-size: 22px;
    margin-bottom: 10px;
}

.flexButtons {
    display: flex;
    flex-direction: column;
}

@media (min-width: 500px) and (max-width: 980px) {
   .wrap{
    align-items: flex-end;
   }
    .button, .buttonMore {
        width: 250px;
    } 
}

@media (min-width: 981px) {
     .button, .buttonMore {
        width: 250px;
    }
    .wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flexButtons {
        flex-direction: row;
        gap: 22px;
    }

    .title {
        font-size: 35px;
    }

    .titledoprow {
        position: relative;
        left: 0;
        font-size: 20px;
    }
}
