.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    background-color: #2b2323;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 200;
}

.img {
    width: 20px;
    height: 20px;
}
.hidden {
    display: none;
}
.modalBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
}
.modalButton {
    margin-bottom: 15px;
    cursor: pointer;
}
.imgicons {
    width: 40px;
    margin-right: 10px;
}
.blockicons {
    position: absolute;
    bottom: 25px;
}
.linkBlock {
    display: none;
}
.wrap {
    position: relative;
}

.wrapBron {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonBron {
    padding: 10px;
    width: 90%;
    background-color: #2b2323;
    color: #ebe8df;
    font-size: 14px;
    line-height: 1.55;
    font-weight: 600;
    text-align: center;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
    margin-bottom: 35px;
    border-radius: 8px;
    position: fixed;
    bottom: 0;
    z-index: 200;
    cursor: pointer;
}

@media (min-width: 981px) {
    .button {
        width: 450px;
        margin-bottom: 15px;
    }
    .list {
        width: 650px;
        margin-bottom: 3%;
    }
    .button {
        display: none;
    }
    .buttonBron {
        width: 20%;
        right: 10;
    }
}
