.button {
    width: 50px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}

.img {
    width: 20px;
    height: 20px;
}
.hidden {
    display: none;
}
.modalBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
}
.modalButton {
    margin-bottom: 15px;
}
.imgicons {
    width: 40px;
    margin-right: 10px;
}
.blockicons {
    position: absolute;
    bottom: 25px;
}
.linkBlock {
    display: none;
}
.wrap{
    position: relative;
}
.header{
    background-color: #2B2323;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 2000;
}
@media (min-width: 981px) {
    .button {
        width: 450px;
        margin-bottom: 15px;
    }
    .list {
        width: 650px;
        margin-bottom: 3%;
    }
    .wrap {
        flex-direction: column;
    }
    .header{
        display: none;
    }
}

@media (min-width: 981px) {
    .button {
        display: none;
    }
}
.wrapBron {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.buttonBron {
    padding: 10px;
    width: 90%;
    background-color:#2B2323;
    color: #EBE8DF ;
    font-size: 14px;
    line-height: 1.55;
    font-weight: 600;
    text-align: center;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
    margin-bottom: 35px;
    border-radius: 8px;
    position: fixed;
    bottom: 0;
    z-index: 200;
}
