.block {
    position: relative;
    background-image: url('@/shared/assets/img/logo.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100lvh;
    font-family: 'PT regural';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.title,
.wrap,
.button{
    position: relative;
    z-index: 1;
}
.title {
    font-family: 'PT bold';
    margin: auto;
    font-size: 30px;
    color: #EBE8DF;
}
.wrap {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}


.linkBlock {
    display: none;
}
@media (min-width: 500px) and (max-width: 980px) {
    .button {
        width: 450px;
        margin-bottom: 10%;
    }
  
}
@media (min-width: 981px) {
    .button {
        width: 450px;
        margin-bottom: 15px;
    }
  
    .wrap {
        flex-direction: column;
    }
}

@media (min-width: 981px) {
    .linkBlock {
        display: flex;
        justify-content: center;
    }
    .link {
        color: #ffffff;
        margin-right: 5%;
        margin-top: 15px;
        margin-bottom: 0;
        font-family: 'PT bold';
    }
    .link:last-child {
        margin-right: 0;
    }
}
