.wrap {
    margin-top: 25px;
    margin-bottom: 125px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 90%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.button {
    background-color: #c18617;
    color: #ffffff;
    padding: 14px 12px;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 18px;
}
.title {
    margin-bottom: 15px;
}
.bold {
    font-size: 14px;
    font-family: 'PT bold';
}
