.footer {
    background-color: #2b2323;
    margin-top: 25px;
    color: #ffffff;
    height: 280px;
}
.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b2323;
}

.footerinfo {
    width: 90%;
    font-size: 10px;
    margin-left: 5px;
}
.title {
    padding: 25px;
    padding-bottom: 15px;
    text-decoration: underline;
}
.navList {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-bottom: 25px;
}
.item {
    width: 50%;
    padding: 5px;
}
@media (min-width: 981px) {
    .footer {
        display: flex;
        height: 150px;
        justify-content: center;
    }
    .title {
        width: 200px;
        padding-right: 0;
        margin-right: 0;
    }
    .navList {
        flex-wrap: nowrap;
        position: relative;
        top: 20%;
    }
    .button {
        width: 55%;
        height: 45px;
    }
    .footerBlock {
        display: flex;
    }
    .footerinfo {
        position: relative;
        left: -40%;
    }
}
