.iframe {
    border-radius: 12px;
    border: none;
}
.wrap {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.titleBlock {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    font-family: 'PT bold';
}
.button {
    padding: 10px 10px;
    font-size: 14px;
    gap: 15px;
    color: #fff;
    background-color: #ba9a7a;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.contactInfo {
    margin-bottom: 20px;
    color: #555;
}
.phoneNumber {
    margin-top: 0;
    font-size: 25px;
    font-family: 'PT bold';
}
.socialLinks a {
    margin-right: 10px;
    color: #5f5144;
    text-decoration: none;
    margin-top: 25px;
}
.socialLinks {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.link {
    display: flex;
    align-items: center;
}
.socialLinks a:hover {
    text-decoration: underline;
}

.vk,
.insta {
    width: 40px;
    height: 40px;
}

.whatsapp,
.telegram {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.titleIframe {
    margin-bottom: 25px;
    font-size: 22px;
    font-family: 'PT bold';
}

@media (min-width: 981px) {
    .wrap {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .block {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-right: 20px;
    }   

    .address {
        padding-top: 10px;
        margin-bottom: 5px;
    }
    .iframe,
    .phoneNumber {
        margin-bottom: 25px;
    }
    .titleIframe {
        display: none;
    }
}
