.wrap{
    height: 625px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    position: relative;
    padding-bottom: 25px;
}
.title {
    margin: auto;
    color: #ccc;
}
.menu {
    position: absolute;
    right: 0;
    top: 0;
}
