
.wrap{
  display: flex;
  flex-direction: column;
  font-size: 22px;
  margin-top: 20px;
}
.title{
 font-weight: 700;
  padding: 15px;
  padding-left: 0;
}
.body{
  font-size: 14px;
  padding: 15px;
  padding-left: 0;
  padding-top: 0;
}
.img{
border-radius: 5px;
margin: 15px;
width: 90%;
}
.blockImg{
  display: block;
  height: 350px;
}
.moreFoto{
  color: #ffffff;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 400;
  background-color: #ba9a7a;
  border-color: transparent;
  border-style: solid;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
}
.moreFoto:hover{
 opacity: 85%;
}
.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.loader{
  width: 20%;
  position: absolute;
}
.loader2{
display: none;
}

@media (min-width: 600px) and (max-width: 980px) {
  .img{
    display: none;
  }
  .block{
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
.body{
  gap: 15px;
}
  .loader{
  display: none;
  }
  .loader2{
    width: 80px;
    display: inline;
    }
  .wrap{
    flex-direction: row;
     height: 250px;
  justify-content: center;
   }
.moreFoto{
width: 350px;

}
.imgCss1{
  border-radius: 5px;
  background-image: url('../../shared/assets/img/house.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  margin-left: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgCss2{
  border-radius: 5px; 
  background-image: url('../../shared/assets/img/room.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  margin-left: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgCss3{
  border-radius: 5px;
  background-image: url('../../shared/assets/img/room3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  margin-left: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

}



@media(min-width: 981px) {
  .img{
    display: none;
  }
  .loader2{
    width: 80px;
    display: inline;
    }
  .block{
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .loader{
    display: none;
   }
  .imgCss1{
    border-radius: 5px;
    background-image: url('../../shared/assets/img/house.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    margin-left: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgCss2{
    border-radius: 5px;
    background-image: url('../../shared/assets/img/room.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    margin-left: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgCss3{
    border-radius: 5px;
    background-image: url('../../shared/assets/img/room3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    margin-left: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap{
   flex-direction: row;
    height: 250px;
  justify-content: center;

  }
  .moreFoto{
  width: 350px;
  
  }

}



