.wrap{
  width: 100lvw;
  height: 100lvh;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;

  align-items: center;
}

@media (min-width: 600px) {
  .wrap{
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    width: 400px;
    position: relative;
    margin: auto;
  }
}